# django_resaas templates
recursive-include src/django_resaas/templates *.html *.css *.js

# django_resaas static
recursive-include src/django_resaas/static *

# outras apps (se precisares)
recursive-include src/ds/templates *
recursive-include src/ds/static *